# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
**/node_modules
**/package-lock.json
*.log
*.gz


# Coveralls
**/coverage

.env
Screen Shot 2023-02-12 at 4.13.47 PM.png
Screen Shot 2023-02-12 at 4.16.56 PM.png
Screen Shot 2023-02-12 at 4.28.17 PM.png
.vscode/settings.json
server/.vscode/.vscode/settings.json
