@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@include foundation-everything;
// place global css here

$color-primary: #6DC3C8;
$color-secondary: #F17721;
$color-lightgrey: #D3CED2;
$color-darkgrey: #C7C4C0;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: white;
  font-family: Roboto;
}

.top-bar {
  width: 100% auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  opacity: 100%;
  background-color: white;
  text-align: center;
}

.top-bar ul {
  font-weight: bolder;
  background-color: white;
}

.top-bar li {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  padding-right: 1rem;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 400px;
  max-width: 1200px;
  text-align: center;
}


.footer {
  background-color: $color-darkgrey;
  position: absolute;
  bottom: 0;
  width:100%;
  border: 1rem $color-darkgrey solid;
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
}

.bolder {
  font-weight: bolder;
}

a:hover {
  color: inherit;
  opacity: 60%;
  transition: .5s ease-out;
}

.plan-show-page img{
  width: 16rem;
  height: 12rem;
  margin-bottom: 1rem;
}

.search-bar {
  height: 38px;
  width: 20%;
}

.plan-list {
  list-style: none;
}

.plan-list-header {
  display: flex;
  justify-content: space-between;
}

.plan-tile {
  display: flex;
  flex-direction: row;
  margin: .5rem;
  width: auto;
  border: solid 65%;
}

.plan-tile img {
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
}

.plan-tile-top-row img {
  border-radius: 50%;
  margin: .5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: inline;
}

.landing-page, .plan-list, .plan-show-page, .add-game-form, .games-list-page, .user-profile, .grid-container{
  margin: auto;
  width: 80%;
}

.user-tile {
  flex-direction: row;
  margin: .5rem;
  border: solid 65%;
}

.user-tile img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

.user-tile-small{
  padding-left: 1rem;
  padding-right: 1rem;
  display: table-cell;
  flex-direction: row;
  border: solid 65%;
  width: auto;
}

.user-tile-small a{ 
  padding: 0 auto;
}

.user-tile-small img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.user-profile img {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.games-list-page h4 {
  text-align: center;
}

.grid-container {
  background-color: $color-lightgrey;
  border-radius: 12px;
  padding-bottom: 1rem;
}

.plan-show-page-content {
  background-color: $color-lightgrey;
}

.landing-page h4{
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.button {
  border: none;
  background-color: $color-primary;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: $color-primary;
  opacity: 60%;
  transition: .6s ease;
}

.button:focus {
  background-color: $color-primary;
  opacity: 60%;
}

.banner-content {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;
}

.banner-content-text {
  margin: 2rem;
}

.banner-content img {
  opacity: 75%;
  width: 24rem;
  height: 16rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom-row img {
  height: 12rem;
  border-radius: 10px;
}

.bottom-row-cell {
  flex-direction: column;
  display: flex;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 1rem;
  width: 18rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.game-list {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game-tile {
  text-align: center;
  width: 10rem;
  border: black solid .2rem;
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-tile img {
  display: block;
  margin: auto;
  width: 8rem;
  height: 6rem;
}

.game-tile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  display:block;
  margin: auto;
  margin-bottom: 8px;
  width: 75%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 50%
}
.search-bar input {
  align-items: right ;
  width: 50%
}
.search-bar a {
  margin: 0 auto;
}

.search-bar .button{
  display: inline-block;
  margin-left: 0;
}

.date-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit-delete {
  display:flex;
  justify-content: space-between;
}

.menu a, .menu .button {
  padding: .6em .6em;
  height: 32px;
}
