@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@include foundation-everything;
// place global css here

$color-primary: #6DC3C8;
$color-secondary: #F17721;
$color-lightgrey: #D3CED2;
$color-darkgrey: #C7C4C0;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
body {
  background-color: white;
  font-family: Roboto;
}

.footer {
  background-color: $color-darkgrey;
  position: absolute;
  bottom: 0;
  width:100%;
  border: 1rem $color-darkgrey solid;
  display: flex;
  justify-content: space-between;
}

.menu-text ul {
  font-size: medium;
  font-weight: 900;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  opacity: 60%;
}

.plan-show-page img{
  width: 16rem;
  height: 12rem;
  margin-bottom: 1rem;
}

.search-bar {
  height: 38px;
  width: 20%;
}

.top-bar{
  opacity: 100%;
  background-color: white;
}

.top-bar ul {
  font-weight: bolder;
  background-color: white;
}

.plan-list {
  list-style: none;
}

.plan-list-header {
  display: flex;
  justify-content: space-between;
}

.plan-tile {
  display: flex;
  flex-direction: row;
  margin: .5rem;
  border: solid 65%;
}

.plan-tile img {
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
}

.landing-page, .plan-list, .plan-show-page, .add-game-form{
  position: relative;
  top: 10%;
  left: 10%;
  right: 10%;
  align-content: center;
  width: 80%;
}

.grid-container {
  width: 80%;
  background-color: $color-lightgrey;
  border-radius: 12px;
  padding-bottom: 1rem;
}

.plan-show-page-content {
  background-color: $color-lightgrey;
}

.landing-page h4{
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.button {
  border: none;
  background-color: $color-primary;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: $color-primary;
  opacity: 60%;
}

.button:focus {
  background-color: $color-primary;
  opacity: 60%;
}

.banner-content {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;
}

.banner-content-text {
  margin: 2rem;
}

.banner-content img {
  opacity: 75%;
  width: 24rem;
  height: 16rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom-row img {
  height: 12rem;
  border-radius: 10px;
}

.bottom-row-cell {
  flex-direction: column;
  display: flex;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 1rem;
  width: 18rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.game-tile {
  text-align: center;
  width: 10rem;
  border: black solid .2rem;
  border-radius: 8px;
  background-color: white;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.game-tile img {
  display: block;
  margin: auto;
  width: 8rem;
  height: 6rem;
}

.game-tile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  display:block;
  margin: auto;
  margin-bottom: 8px;
  width: 75%;
}

li {
  list-style: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 50%
}
.search-bar input {
  align-items: right ;
  width: 50%
}
.search-bar a {
  margin: 0 auto;
}

.search-bar .button{
  display: inline-block;
  margin-left: 0;
}