@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic&subset=latin,latin-ext');
@include foundation-everything;
// place global css here

$color-primary: #6DC3C8;
$color-secondary: #F17721;
$color-lightgrey: #F3F2EE;
$color-darkgrey: #C7C4C0;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  // background-color: #FFFFFF;
  font-family: Roboto;
  background: url("https://gameplan-jd-development.s3.us-east-2.amazonaws.com/blob-scene-haikei.png") no-repeat center center fixed;
  background-size: cover;
}

.app {
  margin: auto;
}

.top-bar {
  width: 100% auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  opacity: 100%;
  background-color: inherit;
  text-align: center;
}

.top-bar ul {
  font-weight: bolder;
  background-color: inherit;
}

.footer {
  background-color: $color-darkgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1rem $color-darkgrey solid;
  display: flex;
  justify-content: space-between;
}

a {
  color: inherit;
}

.bolder {
  font-weight: bolder;
}

a:hover {
  color: inherit;
  opacity: inherit;
  transition: .5s ease-out;
}

a:focus {
  color: inherit
}

.plan-show-page img {
  width: auto;
  height: auto;
}

.plan-show-description {
  margin: 1.5rem;
  border-bottom: thin $color-darkgrey solid;
}

.search-bar {
  height: 38px;
  width: 20%;
}

.plan-list {
  list-style: none;
}

.plan-list-header {
  display: flex;
  justify-content: space-between;
}

.plan-tile {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  width: auto;
  border: solid 65% $color-primary .5rem;
  border-radius: 12px;
}

.plan-tile:hover {
  border-radius: 8px;
  border: $color-primary solid;
}

.plan-tile img {
  @media screen and (max-width: 640px) {
    width: 100%;
  }
    @media screen and (max-width: 530px) {
      display: none;
    }
  order: 1;
  height: 250px;
  max-width: 323px;
  margin: 1rem;
  margin-left: auto;
  align-content: flex-end;
}

#hosted-by-name p {
  font-weight: italic;
}

.plan-tile-top-row img {
  border-radius: 50%;
  margin: .5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: inline
}

.landing-page {
  margin: auto;
  max-width: 850px;
}

.add-game-form,
.games-list-page,
.user-profile,
.grid-container,
.users-list,
.plan-show-page,
.game-list-page {
  margin: auto;
  max-width: 750px;
  margin-bottom: 2rem;
}

.grid-container {
  background-color: $color-lightgrey;
  padding: 1.5rem;
  margin: auto;
}

.content-background{
  text-align: center;
  padding: 1em;
  background-color: rgba(199,196,192, .7);
  border: $color-darkgrey solid thin;
  border-radius: 16px;
  margin: auto;
  max-width: 750px;
  margin-bottom: 2rem;
  @media screen and (max-width: 747px) {
    border-radius: 0;
  }
}

.search-button-container {
  width: auto;
}

.plan-details {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: $color-lightgrey solid thin;
  border-top: $color-lightgrey solid thin;
}

.plan-details:last-child {
  border-left: solid thin $color-darkgrey
}

.plan-show-page h5 {
  font-weight: normal;
}

.plan-show-page h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.player-list {
  display: flex;
  direction: ltr;
  flex-wrap: wrap;
}

.comment-list {
  margin: 2rem;
}

.comment-form {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
}

.comment-tile {
  text-align: center;
  margin: auto;
  background-color: $color-lightgrey;
  border-radius: 25px;
}

.comment-tile h5 {
  margin: auto;
}
.comment-head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.comment {
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  border: $color-darkgrey solid;
}

h1,h2,h5 {
  text-shadow: black;
  font-weight: bolder;
}

.grid {
  margin: auto;
}

.user-tile {
  font-weight: bolder;
  flex-direction: row;
  margin: .5rem;
  border: solid $color-darkgrey;
  background-color: white;
  border-radius: 26px;
  overflow: hidden;
}

.user-tile img {
  border-radius: 26px;
  height: 7rem;
  width: 7rem;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

.user-tile-small {
  margin-top: 3rem;
  display: table-cell;
  flex-direction: row;
  width: auto;
  border: solid $color-darkgrey;
  background-color: white;
  border-radius: 26px;
  margin: 1rem;
  padding-right:2rem;
}

.user-tile-small a {
  padding: 0 auto;
}

.user-tile-small img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

#user-profile-image {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.games-list-page h4 {
  text-align: center;
}

.users-list {
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
}

.grid-container {
  background-color: $color-lightgrey;
  opacity: none;
  border-radius: 12px;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.plan-show-page-content {
  background-color: $color-lightgrey;
}

.landing-page h4 {
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.button {
  border: none;
  background-color: $color-primary;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: $color-primary;
  opacity: 77.5%;
  transition: .75s ease;
}

.button:focus {
  background-color: $color-primary;
}

.centered {
  margin: auto;
  padding-top: 2rem;
  display: inline-block;
}

.about-tag {
  text-align: center;
  padding-bottom: 2rem;
}

#submit,
#edit,
#host-button {
  background-color: $color-secondary;
}

.banner-content {
  margin: auto 1rem;
  display: flex;
  justify-content: center;
  background-color: inherit;
  margin-bottom: 2rem;
}

.data-vis {
    @media screen and (max-width: 565px) {
      width: 100%;
    }
  height: 350px;
  width: 50%;
  max-width: 400px;
  margin: .5rem;
  text-align: center;
}

.data-vis, .bottom-row-cell {
  margin: 1rem;
  max-height: 350px;
}


.data-vis h2 {
  font-weight: bolder;
}

.banner-content-text {
  font-weight: bold;
}

.banner-content img {
  @media screen and (max-width: 565px) {
    display: none;
  }
  opacity: 75%;
  width: 26rem;
  height: 18rem;
  border-radius: 16px;
  border: $color-darkgrey thin solid;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom-row img {
  width: 275px;
  height: 12rem;
  border-radius: 10px;
  border: $color-darkgrey thin solid;
}

.bottom-row-cell {
  flex-direction: column;
  display: flex;
  border-radius: 8px;
  background-color: inherit;
}

.game-list {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.game-tile {
  text-align: center;
  width: 10rem;
  border: thin $color-darkgrey solid;
  border-radius: 8px;
  background-color: white;
  margin: auto;
  margin-bottom: 1rem;
  padding-top: .3rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
}

.game-tile:hover {
  border: $color-secondary solid;
}

.game-tile img {
  display: block;
  margin: auto;
  width: 8rem;
  height: 6rem;
}

.game-tile .button {
  justify-content: center;
  text-align: center;
  max-width: 90px;
  margin: auto;
}

.game-tile-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  display: block;
  margin: auto;
  margin-bottom: 8px;
  width: 75%;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 50%
}

.search-bar input {
  align-items: right;
  width: 50%
}

.search-bar a {
  margin: 0 auto;
}

.search-bar .button {
  display: inline-block;
  margin-left: 0;
}

.date-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.edit-delete {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
}

.sign-out-container {
  margin: auto;
}

.menu .button {
  padding: .6em .6em;
  height: 32px;
}

.menu a {
  padding: none;
}

.highlighted-text {
  color: $color-secondary;
  font-weight: bolder;
}

.buttons-container {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  direction: ltr;
}

.buttons-container button,
.buttons-container input {
  color: black;
  border: solid thin $color-darkgrey;
  background-color: white;
  margin: .3rem;
  margin-top: none;
}

.buttons-container button:hover {
  opacity: 100%;
  transition: .33s ease-in;
}

.orange .button {
  background-color: $color-secondary;
}

#map {
  height: 100%;
  width: auto
}

.white-background {
  background-color: white;
}

.about img {
  margin: auto;
  height: 225px;
  width: 225px;
  border-radius: 25px;
  border: solid white;
}

.row {
  display: flex;
  margin: 10px;
}

.text {
  margin: 1rem;
}